.head .link1{background-image:url("/images/a.png");}
.head .link2{background-image:url("/images/b.png");}
.head .link3{background-image:url("/images/b.png");}
.head .link1{background-image:url("/images/a.png");}
.head .link2{background-image:url("/images/b.png");}